* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.55;
  color: #4C4766;
  min-height: 100vh;
}

h1 {
  color: #fff;
  font-size: 3.125rem;
  line-height: 1.28;
  font-weight: 600;
}

h2 {
  color: #110F1A;
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 700;
}

h3 {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.45em;
  color: #110F1A;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 16px 40px;
  border-radius: 16px;
  border: 1px solid #FF5126;
  background-color: #FF5126;
  display: inline-block;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.22em;
  font-weight: 500;
  transition: all ease-in-out 250ms;
}
.btn:hover {
  transform: scale(1.05);
}

.start {
  background-color: #200A40;
}

.header .header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 24px;
}
.header .header-content .header-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .header-content .header-content-left p {
  color: #fff;
}
.header .header-content .header-content-middle {
  display: flex;
  gap: 32px;
}
.header .header-content .header-content-middle a {
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 250ms;
}
.header .header-content .header-content-middle a:hover {
  color: #FF5126;
}

.hero-section .container {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.hero-section .container .hero-title span.span.title {
  color: #FF5126;
}
.hero-section .container .hero-title h1 {
  margin-top: 15px;
}

.marketing .container .marketing-top {
  padding: 120px 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.marketing .container .marketing-left {
  max-width: 50%;
}
.marketing .container .marketing-left span.span.title {
  color: #FF5126;
}
.marketing .container .marketing-left h2 {
  margin-top: 15px;
  margin-bottom: 20px;
}
.marketing .container .marketing-left p {
  margin-bottom: 20px;
}
.marketing .container .marketing-left .work {
  display: flex;
  gap: 15px;
}
.marketing .container .marketing-left .btn {
  margin-top: 40px;
}
.marketing .container .marketing-bottom {
  margin: 0 15px;
  background-color: #FFF7F5;
  border-radius: 40px;
  box-sizing: border-box;
}
.marketing .container .marketing-bottom .reach {
  padding: 120px 110px;
  display: flex;
  text-align: center;
  gap: 105px;
}

.choose-grid .container {
  padding: 120px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.choose-grid .container .choose-right span.span.title {
  color: #FF5126;
}
.choose-grid .container .choose-right h2 {
  margin: 15px 0 63px 0;
}
.choose-grid .container .choose-right .choose-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.testimonal {
  background-color: #200A40;
}
.testimonal .container {
  align-items: center;
  justify-content: center;
  padding: 120px 0 232px 0;
  max-width: 60%;
}
.testimonal .container .topic {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonal .container .topic span.span.title {
  color: #FF5126;
}
.testimonal .container .topic h2 {
  color: #fff;
  margin-top: 15px;
}

.information {
  margin-top: -185px;
}
.information .container {
  max-width: 750px;
}
.information .container .back {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px 5px rgba(146, 133, 166, 0.1);
  border-radius: 24px;
  padding: 40px 60px;
}
.information .container .back .content {
  text-align: center;
}
.information .container .back .content .text p {
  margin: 30px 0 0 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.56em;
}
.information .container .back .content .text p:nth-child(3) {
  margin-top: 10px;
  color: #9C98B2;
}

.teams .container {
  padding: 120px 15px 138px 15px;
}
.teams .container .heading {
  text-align: center;
}
.teams .container .heading span.span.title {
  color: #FF5126;
}
.teams .container .heading h2 {
  margin: 15px 0 60px 0;
}
.teams .container .team-members {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.teams .container .team-members .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teams .container .team-members .member .text {
  margin-top: -50px;
  text-align: center;
  padding: 20px;
  max-width: 231px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 20px 40px 5px rgba(146, 133, 166, 0.1);
  border-radius: 24px;
}

.clients {
  background-color: #FFF7F5;
}
.clients .container {
  padding: 120px 15px;
  justify-content: center;
  align-items: center;
}
.clients .container .heading {
  text-align: center;
}
.clients .container .heading span.span.title {
  color: #FF5126;
}
.clients .container .heading h2 {
  margin: 15px 0 82px 0;
}
.clients .container .client-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 105px;
}
.clients .container .client-content .image:hover {
  transform: scale(1.05);
}

footer {
  background-color: #200A40;
}
footer .container {
  padding: 80px 15px 20px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .container .footer-heading {
  display: flex;
  justify-content: space-between;
}
footer .container .footer-heading .heading-left {
  width: 60%;
}
footer .container .footer-heading .heading-left h2 {
  color: #fff;
  margin-bottom: 20px;
}
footer .container .footer-heading .heading-left p {
  color: #fff;
}
footer .container .footer-heading .heading-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .container .footer-heading .heading-right .btn {
  align-items: center;
  justify-content: center;
}
footer .container .footer-heading .heading-right .btn.watch-btn {
  background: transparent;
  border-color: #fff;
}
footer .footer-contents {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-contents .content {
  gap: 15px;
  margin-bottom: 80px;
}
footer .footer-contents .content:not(:last-child) {
  display: flex;
  flex-direction: column;
}
footer .footer-contents .content h3 {
  color: #fff;
  margin-bottom: 20px;
}
footer .footer-contents .content a {
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 250ms;
}
footer .footer-contents .content a:hover {
  color: #FF5126;
}
footer .footer-contents .content:nth-child(2) a i {
  margin-right: 11px;
}
footer .footer-contents .content:nth-child(3) a {
  font-size: 44px;
  transition: all ease-in-out 250ms;
}
footer .footer-contents .content:nth-child(3) a:not(:last-child) {
  margin-right: 10px;
}
footer .footer-contents .content:nth-child(3) a:hover {
  transform: scale(1.05);
  color: #FF5126;
}
footer .footer-bottom {
  margin-top: 20px;
  text-align: end;
}
footer .footer-bottom .bottom-right a {
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 250ms;
}
footer .footer-bottom .bottom-right a:hover {
  color: #FF5126;
}
footer .footer-bottom .bottom-right a:not(:last-child) {
  margin-right: 20px;
}

.offer .container {
  padding: 106px 60px;
  text-align: center;
}
.offer .container span.span.title {
  display: inline-block;
  color: #FF5126;
}
.offer .container h2 {
  text-align: center;
  margin: 15px 0 60px 0;
}
.offer .container .offer-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  border-radius: 40px;
}
.offer .container .offer-contents .content {
  flex: 30%;
  align-items: center;
}
.offer .container .offer-contents .content h3 {
  margin-top: 28.61px;
}
.offer .container .offer-contents .content p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56em;
  margin: 15px 0;
}
.offer .container .offer-contents .content a {
  text-decoration: none;
  color: #FF5126;
}
.offer .container .btn {
  margin-top: 60px;
}

.data .container {
  padding: 93px 0 120px 0;
}
.data .container .info-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
}
.data .container .info-contents .content {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 20px 40px 5px rgba(146, 133, 166, 0.1);
  border-radius: 24px;
  padding: 40px;
}
.data .container .info-contents .content .text p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.data .container .info-contents .content .text p:nth-child(3) {
  margin-top: 10px;
  color: #9C98B2;
}

.workteams .container {
  padding: 90px 15px 138px 15px;
}
.workteams .container .heading {
  text-align: center;
}
.workteams .container .heading span.span.title {
  color: #FF5126;
}
.workteams .container .heading h2 {
  margin: 15px 0 60px 0;
}
.workteams .container .workteam-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.workteams .container .workteam-members .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.workteams .container .workteam-members .member .text {
  margin-top: -50px;
  text-align: center;
  padding: 20px;
  max-width: 231px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 20px 40px 5px rgba(146, 133, 166, 0.1);
  border-radius: 24px;
}

.getstart .container {
  padding: 120px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.getstart .container .start-left span.span.title {
  color: #FF5126;
}
.getstart .container .start-left h2 {
  margin: 15px 0 20px 0;
}
.getstart .container .start-left p {
  margin-bottom: 20px;
}
.getstart .container .start-left .quote {
  display: flex;
  gap: 10px;
}
.getstart .container .start-left .contact-way {
  margin-top: 42px;
}
.getstart .container .start-left .contact-way .contact {
  gap: 20px;
  display: flex;
}
.getstart .container .start-right {
  width: 45%;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px 5px rgba(146, 133, 166, 0.1);
  border-radius: 24px;
  background: #FFF7F5;
  align-items: center;
  justify-content: center;
}
.getstart .container .start-right .form {
  padding: 40px;
}
.getstart .container .start-right .form .form-control {
  margin: 30px 0;
}
.getstart .container .start-right .form .form-control label {
  color: #110F1A;
  display: block;
  margin-bottom: 11px;
}
.getstart .container .start-right .form .form-control input {
  border: 2px solid #E8E6F2;
  border-radius: 16px;
  display: block;
  width: 100%;
  padding: 11px;
  font-size: 1.125rem;
}
.getstart .container .start-right .form .form-control:nth-child(5) input {
  padding: 40px;
}
.getstart .container .start-right .form button {
  cursor: pointer;
  width: 100%;
  padding: 16px 40px;
  border-radius: 16px;
  border: 1px solid #FF5126;
  background-color: #FF5126;
  display: inline-block;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.22em;
  font-weight: 500;
  margin-bottom: 40px;
}

.hamburger-menu {
  margin-right: 15px;
  display: none;
}
.hamburger-menu .hamburger.icon {
  background: transparent;
  border: none;
  cursor: pointer;
}
.hamburger-menu .hamburger.icon svg path {
  fill: #ffffff;
}

.mobile-header .mobile-header-slide {
  width: 300px;
  height: 100%;
  z-index: 9999;
  background-color: #ffffff;
  transition: all 0.25s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  transform: translateX(100%);
}
.mobile-header .mobile-header-slide.open {
  transform: translateX(0%);
}
.mobile-header .close {
  background-image: url(/images/icons8-cross-50.png);
  height: 48px;
  width: 48px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  cursor: pointer;
}
.mobile-header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
}
.mobile-header nav .nav-left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-header nav .nav-left ul li {
  list-style: none;
}

@media (max-width: 1024px) {
  .choose-grid .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .choose-grid .container .choose-left {
    text-align: center;
  }
  .choose-grid .container .choose-right {
    margin-top: 40px;
    text-align: center;
  }

  .teams .container .team-members {
    flex-wrap: wrap;
  }
  .teams .container .team-members .member {
    flex: 0 0 30%;
  }
  .teams .container .team-members .member .image {
    width: 100%;
  }
  .teams .container .team-members .member .image img {
    width: 100%;
  }

  footer .container .footer-heading {
    flex-direction: column;
    gap: 40px;
  }

  .workteams .container .workteam-members {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .marketing .container .marketing-top {
    flex-direction: column;
  }

  .marketing .container .marketing-top .marketing-left {
    order: 1;
    max-width: 100%;
  }

  .teams .container .team-members .member {
    flex: 0 0 47%;
  }
}
@media (max-width: 845px) {
  .marketing .container .marketing-bottom .reach {
    flex-direction: column;
    gap: 60px;
  }
}
@media (max-width: 662px) {
  footer .footer-contents {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 530px) {
  .teams .container .team-members .member {
    flex: 0 0 100%;
  }

  .workteams .container .workteam-members {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 422px) {
  footer .container .footer-heading .heading-right {
    flex-direction: column;
  }
}
@media (max-width: 625px) {
  .data .container .info-contents {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 800px) {
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-menu {
    display: block;
  }

  .header .header-content .header-content-middle,
.header-content-right {
    display: none;
  }

  .workteams .container .workteam-members {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1018px) {
  .getstart .container {
    gap: 20px;
    flex-direction: column;
  }

  .getstart .container .start-right {
    margin-top: 20px;
    width: 100%;
  }
}/*# sourceMappingURL=inner.css.map */