// fonts
$font-inter: 'Inter', sans-serif;

// colors
$primary-clr: #FF5126;
$white-clr: #fff;
$heading-clr: #110F1A;
$body-text-clr: #4C4766;
$bg-clr:#200A40;
$extra-clr: #FFF7F5;
$border-clr:#E8E6F2;

